.main{
    margin-left: 25%;
    margin-right: 27%;
   
    display: flex;
}
.mar{
    margin-top: 10px;
    margin-bottom: 10px;
}

.pad{
    padding: 40px;
    padding-bottom: 20px;
}
.country{
    margin-top: 20px;
    margin-bottom: 10px;
    
}

.details{
    width: 35rem;
}

.custom-search {
    position: relative;
    
    width: 320px;
    
  }

  
  .custom-search-input {
   
    width: 100%;
    border: 1px solid white;
    padding: 10px 100px 10px 20px; 
    line-height: 1;
    outline: none;
   
    /* width: 100%;
    
    border: none;
    padding: 10px 100px 10px 20px; 
    line-height: 1; */
    
  }
  .custom-search-botton {
    position: absolute;
    right: 20px; 
    top: 3px;
    bottom: 3px;
    border: none;
    background: white;
    color: black;
    outline: none;

  }
  .bd{
    border: #ccc 1px solid;
  }

  /* .btn1{
    background-color: white;
    color: blue;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  } */
  .btn1{
    background-color: white;
    border: 3px blue solid;
    color: blue;
    font-size: 20px;
    padding-left: 12px;
    padding-right: 10px;
  }

  .img {
    width: 180px;
    height: 135px;
    max-width: 6cm;
    padding-top: 10px; 
    padding-right: 5px; 
    padding-left: 12px; 
  }
  .paddingx{
    margin-left: 40px;
  }

  .img_flag {
    width: 400px;
    height: 360px;
  }
  
.neighbour_img{
  margin: 18px;
  width: 270px;
  height: 160px;
  border: 1px solid gainsboro; 
  padding: 0;
}
.nei{
  border: .5px solid gray;
  padding-left: 5px;
  margin-left: 8.5em;
  margin-right: 8.5em;
  width: 58rem
}
.divi{
  padding-left: 50px;
  margin-top: 2em;
  margin-left: 8.5em;
  margin-right: 8.5em;
  width: 60rem
}
